[submodule "backend"]
	path = backend
	url = git@github.com:ApptiveDev/apptive-18th-friendly-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:ApptiveDev/apptive-18th-friendly-frontend.git
